{% extends 'paginas/base.html' %}

{% block title %}Sobre SintProEdu{% endblock %}

{% block content %}

<h2>Sobre</h2>

<h3>SintProEdu</h3>

<p>SintProEdu foi criada com o objetivo facilitar a comunicação entre alunos e empresas na elaboração de projetos acadêmicos  a fim de resolver possíveis problemas que esta venha a ter. Durante nossa pesquisa percebemos a grande dificuldade em conseguir falar com as pessoas responsáveis pelas empresas. diante desse quadro pensamos em desenvolver um site com um plataforma que faça essa ponte entre os alunos e empresas. criaremos um banco de dados com as empresas interessadas em resolver algum problema tecnológico e outro com alunos que queiram solucionar esses problemas</p>

{% endblock %}